{% extends "layouts.html" %}
{% block content %}

<form class="form-control" method="POST" action="/" role="form">
<div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Zaaknaam" aria-label="zaaknaam" name='zaaknaam'>
</div>

<div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Verdachte" aria-label="verdachte" name="verdachte">
</div>

<div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Currency" aria-label="currency" name="currency">
</div>

<div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Username" aria-label="Username">
</div>

<button class='btn btn-success' type='submit' > Zoek </button>

</form>


{% if crypto is defined %}
<h2> Prijs: {{ crypto.price | round(2)}}</h2>
<h2> Totaal: {{ amount | round(2)}}</h2>
{% else %}
{% endif %}

{% endblock %}